<p id="notice"><%= notice %></p>

<p>
  <strong>Remote:</strong>
  <%= @badge.remote_id %>
</p>

<p>
  <strong>Badge url:</strong>
  <%= @badge.badge_url %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @badge.image_url %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @badge.skill %>
</p>

<%= link_to 'Edit', edit_badge_path(@badge) %> |
<%= link_to 'Back', badges_path %>
